.taskItem {
  box-sizing: content-box;
  display: flex;
  margin-right: 0rem;
  flex-flow: row nowrap;
  gap: 0.8rem;
  overflow-wrap: anywhere;
  justify-content: flex-start;
}

.taskItem p {
  font-size: 1.1em;
  padding-bottom: 2rem;
}

.checkmarkbg {
  margin-top: 0.5rem;
  width: 2.5em;
  height: 2.5em;
  background-image: radial-gradient(black, white);
  border-radius: 80%;
}

.deletebg {
  margin-top: 0.5rem;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 80%;
}
