.taskadder{
    margin-top:2rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.textbox{
    width:30%;
    height: 1.5rem;
    font-size: 1rem;
    padding:10px;
    padding-left:15px;
    border-radius:20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    outline:none;
    background-color: rgba(167, 167, 167, 0.872);
}

.textbox:hover{
    background-color: rgba(122, 122, 122, 0.872);
}

.textbox::placeholder{
    color:rgba(0, 0, 0, 0.598)
}



.action{
    border-radius:20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 2.76rem;
    width:7%;
    border:none;
    font-size: 1rem;

}

.action:hover{
    background-color: rgba(216, 216, 216, 0.575);
}