.Card {
  padding: 0rem 0.5rem;
  margin: 1.3rem auto 0.5rem auto;
  width: max-content;
  /* max-width: 20%; */
  height: 3.5rem;
  padding-left: 10px;
  background-color: rgba(167, 167, 167, 0.872);
  border-radius: 60px;
}

.checked {
  background-color: black;
  background-color: rgba(167, 167, 167, 0.4);
}
